
@{
    ViewBag.Title = "IndexFormulario";
}

<h2>IndexFormulario</h2>

@Html.ActionLink("Index", "Index")

@Html.Action("IndexGetContentString")
<br /><br /><br />
@Html.Action("IndexGetContentView")


