 
<h2>IndexRazor</h2>

@*Este es un comentario*@

@{ List<string> referenciasCamaras = new List<string> { "Nikon d5300", "Nikon D70" };
    string htmlcontent = "<b>texto en negrita</b>";
 }

<p>Referencias de cámaras</p>

<ul>
    
</ul>
@foreach (var item in referenciasCamaras)
{
    <li>@item</li>
}


@foreach (var item in referenciasCamaras)
{
   @:Ref:  @item<br/>
}


    @htmlcontent




    @Html.Raw(htmlcontent)


@{
    var joe = new {Age = 30};
}

<p>Age@(joe.Age)</p>
<p>Age@joe.Age</p>

