
@{
    ViewBag.Title = "IndexSecundario";
}

<h2>IndexSecundario</h2>

 ViewBag = @ViewBag.Testing <br/>
 TempData = @TempData["Testing"]<br />
 Imprimir de nuevo
 ViewBag = @ViewBag.Testing <br />
 ViewData = @ViewData["Testing2"]